wheel
setuptools
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
sentence-transformers
openai
langchain
fastapi
uvicorn
# sqlmodel==0.0.8
pymilvus==2.2.8
python-dotenv
tiktoken
gpt4all
psycopg2-binary
sqlalchemy
shortuuid
email-validator
fastapi-users
asyncpg
fastapi-users-db-sqlalchemy
gunicorn
flask
boto3
pypdf
structlog
fastapi-cache2